---
interface Props {
  id: string | number;
  title: string;
  body: string;
  href: string;
  image: string;
  tags: string[] | undefined;
}

const { id, href, title, body, image, tags } = Astro.props;
const orangeOne = 'text-orange-400';
const orangeTwo = 'text-orange-500';
---

<section
  class="max-sm:flex-col-reverse border-b-2 border-gray-500 border-spacing-5 mt-20 pb-36 max-sm:pb-20 flex justify-between max-sm:gap-8 gap-28"
>
  <div class="w-2/3 max-sm:w-full">
    <h2 class={' max-sm:text-center text-2xl mb-5 font-semibold ' + orangeTwo}>
      <span class="text-gray-300">0{id} /</span>
      {title}
    </h2>
    <p class="text-gray-300 mb-7">{body}</p>
    {
      tags &&
        tags.map(tag => {
          return <span class="text-gray-400 text-md mb-11"> {tag} /</span>;
        })
    }
    <br />
    <p class="mt-16">
      <a class={'mb-9 ' + orangeOne} href={href}
        >More shots from this project ↗</a
      >
    </p>
  </div>
  <div
    class="max-sm:w-full max-sm:h-[200px] z-20 bg-slate-50 overflow-hidden h-[264.678px] w-[640px]"
  >
    <img
      class="h-full"
      src={image != 'image' ? image : 'https://picsum.photos/400/300'}
      alt="Imagem do projeto"
    />
  </div>
</section>
